.card {
  border-radius: 10px;
  border: none;
  background: #f8f9fa;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.form-select {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
}

button {
  height: fit-content;
}

button {
  height: fit-content;
}

.d-flex.gap-1 {
  height: fit-content;
}

.mb-3.d-flex.justify-content-between {
  gap: 1rem;
}

.mb-3 {
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none !important;
  color: #333 !important;
}